.CountriesContainer {
  height: 66vh;
  margin-top: 1vh;
  overflow: auto;

  .CountryInfo {
    padding: 10px;
    margin: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .CountryInfoCases {
      font-size: 18px;
      color: red;
    }
    .CountryInfo {
      text-align: center;
      font-size: 20px;
    }
    .CountryFlag {
      width: 50px;
      box-shadow: 0 0 8px -4px rgb(0, 0, 0);
    }
  }
}
